<footer layout="row">
  <div flex>
    <div class="center-box">
      <h4>The initial development of memote has received funding from:</h4>
      <div layout="row" layout-margin layout-wrap layout-align="center center" style="width: 100%;">
        <mat-card fxLayout='column'
                  fxFlex="20%"
                  fxFlexAlign='stretch'
                  fxHide.sm
                  fxHide.xs>
        </mat-card>
        <mat-card fxLayout='column'
                  fxFlex="15%"
                  fxFlexAlign='stretch'
                  [fxFlex.sm]="'100%'"
                  [fxFlex.xs]="'100%'">
          <a href="http://novonordiskfonden.dk/en" target="_blank"><img src="../../assets/images/novo_nordisk.png" class="icon nordisk"/></a>
        </mat-card>
        <mat-card fxLayout='column'
                  fxFlex="15%"
                  fxFlexAlign='stretch'
                  [fxFlex.sm]="'100%'"
                  [fxFlex.xs]="'100%'">
          <a href="https://innovationsfonden.dk/da" target="_blank"><img src="../../assets/images/innovationsfonden.png" class="icon" /></a>
        </mat-card>
        <mat-card fxLayout='column'
                  fxFlex="15%"
                  fxFlexAlign='stretch'
                  [fxFlex.sm]="'100%'"
                  [fxFlex.xs]="'100%'">
          <a href="http://dd-decaf.eu/" target="_blank"><img src="../../assets/images/decaf-logo-md.png" class="icon" /></a>
        </mat-card>
        <mat-card fxLayout='column'
                  fxFlex="15%"
                  fxFlexAlign='stretch'
                  [fxFlex.sm]="'100%'"
                  [fxFlex.xs]="'100%'">
          <img src="../../assets/images/eu_flag_yellow_low.png" class="icon" />
          <span class="fund-span">This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 686070.</span>
        </mat-card>
        <mat-card fxLayout='column'
                  fxFlex="20%"
                  fxFlexAlign='stretch'
                  fxHide.sm
                  fxHide.xs>
        </mat-card>
      </div>
    </div>
  </div>
</footer>
