.icon{
  width: 50%;
}

.fund-span{
  font-size: 12px;
}

.mat-card{
  background: transparent !important;
  box-shadow: none !important;
}

footer{
  text-align: center;
}


@media only screen and (max-width : 480px) {
  .fund-span{
    font-size: 6px;
  }
}

@media only screen and (max-width : 320px) {
  .fund-span{
    font-size: 6px;
  }
}
